// Icon Resource Definition
#define MAIN_ICON                       102

#if defined(_DEBUG)
MAIN_ICON               ICON                    "..\\remoteUser\\resources\\icon-debug.ico"
#else
MAIN_ICON               ICON                    "..\\remoteUser\\resources\\icon.ico"
#endif
